.footer {
  background-color: #004d40;
  color: white;
  text-align: center;
  padding: 20px 10px;
  /* margin-top: 30px; */
  width: 100%;
  box-sizing: border-box;

}

.footer-links {
  margin-top: 8px;
}

.footer-links a {
  color: #b2dfdb;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
