.vehicle-register-container {
  max-width: 600px;
  margin: 100px auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.vehicle-register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.vehicle-register-container form input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
