*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.vehicle-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height:500px;
  width: 80%;
  /* padding: 10px; */
  cursor: pointer; /* whole card clickable */
}

.vehicle-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.vehicle-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.vehicle-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vehicle-info h3 {
  font-size: 1.1rem;
  color: #222;
  margin: 5px 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.vehicle-info p {
  font-size: 0.9rem;
  color: #555;
  margin: 3px 0;
}

.book-btn {
  background-color: #16a34a;
  color: white;
  
  padding: 10px 0;
  border-radius: 8px;
 
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* margin-top:-5px; */
  
}

.book-btn:hover {
  background-color: #15803d;
}
