.signup-container {
  width: 350px;
  margin: 100px auto;
  background: #fff;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.signup-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
